<div>
    <form [formGroup]="candidateForm" (ngSubmit)="submit()">
        <div class="tui-form__row">
            <tui-input
                formControlName="firstNameValue"
                tuiHintContent="A tooltip"
            >
                Candidate First Name
                <input
                    placeholder="Field placeholder"
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="firstNameValue"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="tui-form__row">
            <tui-input
                formControlName="lastNameValue"
                tuiHintContent="A tooltip"
            >
                Candidate Last Name
                <input
                    placeholder="Field placeholder"
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="lastNameValue"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="tui-form__row">
            <tui-input
                formControlName="phoneValue"
                tuiHintContent="A tooltip"
            >
                Phone Number
                <input
                    placeholder="Field placeholder"
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="phoneValue"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="tui-form__row">
            <tui-input
                formControlName="emailValue"
                tuiHintContent="A tooltip"
            >
                Email Address
                <input
                    placeholder="Field placeholder"
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="emailValue"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-multi-select
                [editable] = "false"
                class="b-form"
                formControlName="jobValue"
                [identityMatcher]="identityMatcherJob"
                [stringify]="stringifyJob"
                >
                Jobs
                    <tui-data-list
                    *tuiDataList
                    tuiMultiSelectGroup>
                        <button
                        *ngFor="let job of jobs"
                        tuiOption
                        [value]="job"
                        >
                        {{ job.jobTitle }}
                        </button>
                    </tui-data-list>
                </tui-multi-select>


            </div>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
                <tui-multi-select
                [editable] = "false"
                class="b-form"
                formControlName="interviewerValue"
                [stringify]="stringifyInterviewer"
                >
                Interviewers
                    <tui-data-list
                    *tuiDataList
                    tuiMultiSelectGroup>
                        <button
                        *ngFor="let interviewer of interviewers"
                        tuiOption
                        [value]="interviewer"
                        >
                        {{ interviewer.name }}
                        </button>
                    </tui-data-list>
                </tui-multi-select>


            </div>
        </div>
        <div class="tui-form__buttons">
            <button
                size="l"
                tuiButton
                type="submit"
                class="tui-form__button"
            >
                Submit
            </button>
            <button
                appearance="flat"
                size="l"
                tuiButton
                type="button"
                class="tui-form__button"
                (click)="cancel()"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
