<form [formGroup]="filterForm" (ngSubmit)="submit()" class="filter-form">
        <div class="tui-form__row tui-form__row_multi-fields test-width">
            <div class="tui-form__multi-field tui-form__row_half-width">
                <tui-input tuiTextfieldIconLeft="tuiIconSearchLarge"
                formControlName="candidateName"
                >Candidate Name:</tui-input>
            </div>
            <div class="tui-form__multi-field">
                <tui-input-date
                formControlName="appliedFromDate"
                tuiUnfinishedValidator="Finish filling the field">Applied From Date:
                </tui-input-date>
            </div>

            <div class="tui-form__multi-field">
                <tui-input-date
                formControlName="appliedToDate"
                tuiUnfinishedValidator="Finish filling the field">Applied To Date:
                </tui-input-date>
            </div>
          
            <div class="tui-form__multi-field">
                <tui-multi-select
                [editable] = "false"
                class="b-form"
                formControlName="interviewerValue"
                [stringify]="stringifyInterviewer"
                >
                Interviewers
                    <tui-data-list
                    *tuiDataList
                    tuiMultiSelectGroup>
                        <button
                        *ngFor="let interviewer of interviewers"
                        tuiOption
                        [value]="interviewer"
                        >
                        {{ interviewer.name }}
                        </button>
                    </tui-data-list>
                </tui-multi-select>
            </div>
            <div class="tui-form__multi-field">
                <div class="button-content">
                    <button style="align-items: center;"
                    tuiButton
                    size="l"
                    tuiButton
                    type="submit"
                    class="tui-form__button"
                    >
                        Filter
                    </button>
                    <button style="margin-left: 20px;"
                    tuiButton
                    size="l"
                    type="button"
                    (click)="onAddCandidateClick()"
                    class="tui-form__button"
                    >
                        Add New
                    </button>
                </div>
            </div>
        </div>
</form>